
body {
  padding-top: 20px;
  background-color: #87CEFA
}

.options {
  background-color: #E0FFFF;
}

.row{
  display:inline;
}

.list-input{
  position:relative;
  display:inline;
}

.sort-button{
  position:relative;
  display:inline;
}

.list {
  display : inline-block;
}

#header{
    width:100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0px;
    background-color: #9999FF;
}

#headerContent {
    margin: 0px auto;
    width: 100%;
}

.simple-list{
   height: 50px;
   width: 50px;
   float = left;
   border: 3px solid gray;
   background: lightgray;
   position: relative;
   display : inline-block;
   opacity: 2.0;
}

.animate-enter {
	-webkit-transition: 1s linear all;
	transition: 1s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 2.0;
}
.input-button{
  background-color: #E0FFFF;
  border-radius: 4px 4px 0 0;
}
