body {
  margin: 0;
  padding:0;
  background-color: #87CEFA
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
  display:inline;
}

.nav {
    margin-top: 30px;
}

.list-input {
  position: relative;
  display: inline;
}

.sort-button {
  position: relative;
  display: inline;
}

.list {
  display : inline-block;
}

#header{
    width:100%;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0px;
    background-color: #9999FF;
}

.simple-list{
   height: 50px;
   width: 50px;
   float = left;
   border: 3px solid gray;
   background: lightgray;
   position: relative;
   display : inline-block;
   margin-top: 100px;
   opacity: 2.0;
}

.animate-enter {
	-webkit-transition: 1s linear all;
	transition: 1s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 2.0;
}
.input-button{
  background-color: #E0FFFF;
  border-radius: 4px 4px 0 0;
}
