<!doctype html>
<div class="container-fluid">

     <div class = "row">
        <!-- Top banner -->
         <div id = "header">
                 <!-- Create the drop down menu for sorting options-->
                 <div class = "col-md-4">
                     <div class = "nav">
                         <div class="dropdown">
                             <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">
                                 {{selectedItem}}
                                 <span class="caret"></span>
                             </button>
                             <!-- Sorting algorithm options -->
                             <ul id = "chosenSort" class="dropdown-menu dropdown-inverse" aria-labelledby="dropdownMenu1">
                                 <li ng-repeat="a in options"><a ng-click="dropboxitemselected(a)">{{a}}</a></li> <!-- Update dropdown choice> -->
                             </ul>
                         </div>
                     </div>
                 </div>

                 <!-- Text box for number entries -->
                 <div class="col-md-4">
                     <div class = "nav">
                         <div class = "list-input">
                             Enter numbers to sort
                             <input class = "list-box"  type = "text" ng-model="listInput" ng-keypress="add($event)">
                         </div>
                     </div>
                 </div>

                 <!-- sort button -->
                 <div class = "col-md-1">
                     <div class = "nav">
                         <div class = "sort-button">
                             <button class = "input-button" type = "button" ng-click="sort()">Sort</button>
                         </div>
                     </div>
                 </div>

                 <!-- sort button -->
                 <div class = "col-md-1">
                     <div class = "nav">
                         <div class = "step-through">
                             <button class = "input-button" type = "button" ng-click="stepThrough()">Step Through</button>
                         </div>
                     </div>
                 </div>

         </div>

         <!-- Typed in numbers appear in boxes -->

         <div class = "simple-list" ng-repeat="alg in numbers" ng-animate=" 'animate' " >
             {{ alg }}
         </div>
    </div>

</div>