<!doctype html>
<div class="container-fluid">

 <div class = "row">
  <div class="col-md-2">
    <div class = "simple-list" ng-repeat="alg in numbers" ng-animate=" 'animate' >
       <ul class = "algorithms">
        <li class="list">
            {{ alg }}
        </li>

      </ul>

    </div>
  </div>


  <div class="col-md-5">

   <div class = "list-input">
      <input class = "list-box" type = "text" ng-model="listInput" ng-keypress="add($event)"></input>
   </div>
    <div class = "sort-button">
      <button class = "input-button" type = "button" ng-click="sort()">Sort</button>
    </div>
  </div>
</div>

</div>

